.container {
    display: flex;
    justify-content: center;
    text-align: center;
    
    margin: 80px auto;
    padding: 2rem;
    
}

.form {
    display: flex;
    flex-direction: column;
}

.titulo {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fcfafa;
}

.input {
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #d84e4e;
}

.buton {
    padding: 10px;
    background: linear-gradient(to right, #4caf50, #2196f3, #ffeb3b);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    transition: background 0.3s;
}

.buton:hover {
    opacity: 0.9;
}

.label {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.error {
    color: red;
    margin-top: -10px;
    margin-bottom: 1rem;
}
